@import './variables.css';

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

html {
    line-height: 1;
    font-size: 14px;
}

@media screen and (min-width: 1440px) {
    * {
        font-weight: 16px;
    }
}

.signup-section {
    background-image: url('../images/bg-intro-desktop.png');
    background-color: var(--primary-red);
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    color: #fff;
    padding: 20px 0;
}

@media screen and (max-width: 375px) {
    .signup-section {
        background-image: url('../images/bg-intro-mobile.png');
    }
}

@media screen and (max-width: 991px) {
    .signup-section {
        height: auto;
    }
}

.signup-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 991px) {
    .signup-section .container {
        flex-direction: column;
    }
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1220px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0;
    }
}

.signup-title,
.signup-form-container {
    width: 50%;
    padding: 0 20px;
}

@media screen and (max-width: 991px) {

    .signup-title,
    .signup-form-container {
        width: 100%;
    }

    .signup-title {
        margin-bottom: 50px;
        text-align: center;
    }
}

.signup-title h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {

    .signup-title h3 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}

.signup-title p {
    line-height: 1.8;
}

.box-shadow {
    position: relative;
}

.shadow {
    position: absolute;
    left: 0;
    top: 8px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--neutral-dark-blue);
    opacity: .3;
    z-index: 1;
}

.signup-info {
    background-color: var(--accent-blue);
    padding: 1rem;
    line-height: 1.5;
    text-align: center;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.signup-info b {
    font-weight: 600;
}

.signup-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .signup-form {
        padding: 25px;
    }
}

.signup-input-wrapper {
    margin-bottom: 20px;
    position: relative;
}

.signup-input-wrapper.error input {
    color: var(--primary-red);
    border-color: var(--primary-red);
    padding-right: 50px;
}

.signup-input-wrapper.error input:focus {
    border-color: var(--primary-red);
}

.signup-input-wrapper.error:after {
    content: url('../images/icon-error.svg');
    color: var(--primary-red);
    right: 15px;
    top: 13px;
    position: absolute;
    width: 30px;
    height: 30px;
}

.signup-input-wrapper input {
    background: transparent;
    width: 100%;
    padding: 1rem 1.5rem;
    font-weight: 600;
    color: var(--neutral-dark-blue);
    border: 1px solid var(--neutral-grayish-blue);
    border-radius: 8px;
}

.signup-input-wrapper input::placeholder {
    font-weight: 500;
    color: var(--neutral-grayish-blue);
}

.signup-input-wrapper input:focus {
    border-color: var(--neutral-dark-blue);
    outline: none;
}


.text-error {
    text-align: right;
    font-size: .8rem;
    color: var(--primary-red);
    font-style: italic;
    margin-top: 5px;
}

.signup-btn-wrapper {
    position: relative;
}

.signup-btn {
    width: 100%;
    padding: 1.25rem;
    background-color: var(--primary-green);
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    z-index: 2;
}

.signup-btn-wrapper .shadow {
    background-color: var(--primary-green);
    opacity: 1;
    filter: brightness(.9);
    top: 4px;
}

.signup-btn:hover {
    filter: brightness(1.1);
}

.signup-terms {
    color: var(--neutral-grayish-blue);
    margin-top: 1.4rem;
    font-size: .8rem;
    line-height: 1.5;
    text-align: center;
}

.signup-terms a {
    color: var(--primary-red);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 700;
}

.signup-terms a:visited {
    color: var(--primary-red);
    text-decoration: none;
}